<div class="row placeholders">
    <div class="table-responsive">
        {% if not ret %}
        {% if properties %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>道具类型</th>
                    <th>道具名称</th>
                    <th>道具数量</th>
                    <th>扣除数量</th>
                    <th>操作</th>
                    <th>操作结果</th>
                </tr>
            </thead>
            <tbody>
                {%for property in properties %}
                <tr>
                <form onsubmit="deleteelement(this);return false;">
                    <input type="hidden" name="server_id" value="{{serverid}}">
                    <input type="hidden" name="player_id" value="{{playerid}}">
                    <input type="hidden" name="element_type" value="{{property.item_type}}">
                    <input type="hidden" name="element_id" value="{{property.item_id}}">
                    <td id="">{{property.item_type}}</td>
                    <td>{{property.item_id}}</td>
                    <td>{{property.item_num}}</td>
                    <td><input type="text" id="element-{{property.item_id}}-count" name="count"></td>
                    <td><input class="btn btn-primary btn-sm" type="submit" value="删除" onclick="deleteElement({{serverid}},{{playerid}},{{property.item_type}},{{property.item_id}});"></td>
                    <td><span></span></td>
                
                </tr>
                </form>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p class="data-empty">查询数据为空</p>
        {% endif %}
        {% else %}
        <p class="error">{{msg}}</p>
        {% endif %}
    </div>
</div>
