<div class="row placeholders">
    <div class="table-responsive">
        {% if not ret %}
        {% if playeractions %}
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>游戏内部ID</th>
                    <th>动作名称</th>
                    <th>动作详细</th>
                    <th>动作</th>
                    <th>时间</th>
                </tr>
            </thead>
            <tbody>
                {%for playeraction in playeractions %}
                <tr>
                    <td>{{playeraction.updated_at|date:'Y年m月d日 H:i'}}</td>
                    <td>{{playeraction.action_name}}</td>
                    <td>{{playeraction.detail}}</td>
                    <td>{{playeraction.action}}</td>
                    <td>{{playeraction.time}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p class="data-empty pindent">查询数据为空！</p>
        {% endif %}
        {% else %}
        <p class="error pindent">{{msg}}</p>
        {% endif %}
    </div>
</div>
