<div class="row placeholders">
    <div class="table-responsive">
        {% if not ret %}
        {% if playeractions %}
        <table class="table table-hover table-bordered" style="word-break:break-all; word-wrap:break-all;">
            <thead>
                <tr>
                    <th>游戏内部ID</th>
                    <th>动作类型</th>
                    <th>日志信息</th>
                    <th>客户端信息</th>
                    <th>时间</th>
                </tr>
            </thead>
            <tbody>
                {%for playeraction in playeractions %}
                <tr>
                    <td>{{playeraction.player_id}}</td>
                    <td>{{playeraction.type}}</td>
                    <td>{{playeraction.info}}</td>
                    <td>{{playeraction.cinfo}}</td>
                    <td>{{playeraction.time}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p class="data-empty pindent">查询数据为空！</p>
        {% endif %}
        {% else %}
        <p class="error pindent">{{msg}}</p>
        {% endif %}
    </div>
</div>
