<!-- <h2 class="page-header">用户数据</h2>
 --><div class="tabbable" id="tabs-126778">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#panel-279653" data-toggle="tab" >玩家数据查询</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="panel-279653" >
        <form class="form-horizontal" onsubmit="userGetInfo(this);return false;">
          <div class="control-group">
              <label class="control-label" for="inputUserID">玩家ID</label>
              <div class="controls">
                  <textarea name="playerId" id="inputUserID" cols="30" rows="8" placeholder="四位ID（例如5555）,多个ID请换行"></textarea>
                  <!-- <input type="text" name="playerId" id="inputUserID"> -->
              </div>
          </div>
          <div class="control-group">
              <div class="controls">
                   <input type="submit" class="btn btn-sm btn-primary" value="查询">
              </div>
          </div>
      </form>
      <div id="user-search-table">
      </div>
    </div>
  </div>
<!--   <div class="tab-content">
  <div class="tab-pane active" id="panel-279654" >
        <form class="form-horizontal" onsubmit="userGetInfo(this);return false;">
          <div class="control-group">
               <label class="control-label" for="inputServerID">aaaa</label>
              <div class="controls">
                  <input id="inputServerId" name="server_id" type="text" />
              </div>
          </div>
          <div class="control-group">
              <label class="control-label" for="inputUserID">用户ID</label>
              <div class="controls">
                  <textarea name="player_id" id="inputUserID" cols="30" rows="8"></textarea>
              </div>
              <label class="control-label" for="inputUserNick">用户昵称</label>
              <div class="controls">
                  <textarea name="player_name" id="inputUserNick" cols="30" rows="8"></textarea>
              </div>
          </div>
          <div class="control-group">
              <div class="controls">
                   <button type="submit" class="btn btn-sm btn-primary">查询</button>
              </div>
          </div>
      </form>
      <div id="user-search-table">
      </div>
  </div>
  </div> -->
</div>



