{% if not ret %}
{% for serverinfo in serverinfos %}
<div>
<span for="playercount" style="font-size:16px">登录玩家: </span><span style="font-size:18px">{% if serverinfo.login_count or serverinfo.login_count == 0 %}{{ serverinfo.login_count }}人{% endif %}</span><br>
<span for="rechargecount" style="font-size:16px">充值人数：</span><span style="font-size:18px">{% if serverinfo.recharge_count %}{{ serverinfo.recharge_count }}人{% endif %}</span><br>
<span for="newidcount" style="font-size:16px">新建账号：</span><span style="font-size:18px">{% if serverinfo.newplayer_count %}{{ serverinfo.newplayer_count }}人{% endif %}</span><br>
<span for="rechargesum" style="font-size:16px">总充值：</span><span style="font-size:18px">{% if serverinfo.recharge_sum %}{{ serverinfo.recharge_sum }}元{% endif %}</span>
</div>
<h4>玩家等级分布</h4>
<div class="row placeholders">
    <div class="table-responsive">
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>等级</th>
                    <th>玩家数量</th>
                </tr>
            </thead>
            {% if serverinfo.level_array %}
            <tbody>
                {%for level_single in serverinfo.level_array %}
                <tr>
                    <td>{{level_single.key}}</td>
                    <td>{{level_single.value}}</td>
                </tr>
                {% endfor %}
            </tbody>
            {% endif %}
        </table>
    </div>
</div>
{% endfor %}
{% else %}
<p>{{message}}</p>
{% endif %}