<div>
<label for="playercount" style="font-size:16px">登录玩家: </label><span style="font-size:18px">{% if login_count %}{{ login_count }}人{% endif %}</span><br>
<label for="rechargecount" style="font-size:16px">充值人数：</label><span style="font-size:18px">{% if recharge_count %}{{ recharge_count }}人{% endif %}</span><br>
<label for="newidcount" style="font-size:16px">新建账号：</label><span style="font-size:18px">{% if newplayer_count %}{{ newplayer_count }}人{% endif %}</span><br>
<label for="rechargesum" style="font-size:16px">总充值：</label><span style="font-size:18px">{% if recharge_sum %}{{ recharge_sum }}元{% endif %}</span>
</div>
<h4>玩家等级分布</h4>
<div class="row placeholders">
    <div class="table-responsive">
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>等级</th>
                    <th>玩家数量</th>
                </tr>
            </thead>
            {% if level_array %}
            <tbody>
                {%for level_single in level_array %}
                <tr>
                    <td>{{level_single.key|date:'Y年m月d日 H:i'}}</td>
                    <td>{{level_single.value}}</td>
                </tr>
                {% endfor %}
            </tbody>
            {% endif %}
        </table>
    </div>
</div>
